<h1 class="bienvenida">
  {{user.username}}
  tus canciones favoritas
</h1>
{{#each user.favorites}}
  <img src={{img}} alt={{name}} />
  <p>{{name}}</p>

  <form action="/delete-favorite" method="POST">

    <input type="hidden" name="id" value={{_id}} />

    <button type="submit">borrar favorito</button>
  </form>
{{/each}}